.poiret-one-regular {
  font-family: "Poiret One", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.carrito-container {
  margin-left: 9rem; /* Ajusta este valor para cambiar la separación */
}
