<style>
    .carrito-container {
        margin-left: auto; /* Empuja el carrito a la derecha en pantallas grandes */
    }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid d-flex align-items-center">
            <!-- Logo o Título del Navbar -->
            <a class="navbar-brand" href="/">Mujeres Virtuosas</a>
            <!-- Botón Responsive y Carrito en Pantallas Pequeñas -->
            <div class="d-flex d-lg-none align-items-center">
                <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a href="#" class="btn btn-outline-dark position-relative">
                    <i class="bi bi-cart"></i>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        3
                    </span>
                </a>
            </div>
            <!-- Opciones del Navbar -->
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav mx-auto gap-3">
                    <a class="nav-link poiret-one-regular active" aria-current="page" href="/">Inicio</a>
                    <a class="nav-link poiret-one-regular" href="/p_inicio">Pestañas</a>
                    <a class="nav-link poiret-one-regular" href="/u_inicio">Uñas</a>
                    <a class="nav-link poiret-one-regular" href="/d_inicio">Depilación</a>
                </div>
            </div>
            
             <!-- Carrito de Compras Visible Solo en Pantallas Grandes -->
             <div class="carrito-container d-none d-lg-flex">
                <a href="#" class="btn btn-outline-dark position-relative">
                    <i class="bi bi-cart"></i>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        3
                    </span>
                </a>
            </div>
        </div>
    </nav>